<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:e="http://projectmallard.org/experimental/" type="topic" style="task" id="delete-notes" xml:lang="pt_BR">

  <info>
    <link type="guide" xref="index#notes"/>
    <link type="seealso" xref="create-notes"/>
    <link type="seealso" xref="edit-notes"/>
    <desc>Delete a note in Tomboy.</desc>
    <revision pkgversion="3.0" version="0.1" date="2010-05-29" status="candidate"/>

        <credit type="author">
      <name>Paul Cutler</name>
      <email>pcutler@gnome.org</email>
    </credit>    
    <credit type="author copyright">
      <name>Projeto de Documentação do GNOME</name>
      <years>2010</years>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Delete a note</title>    
  
  <p>You can delete a note by pressing the <gui>Delete</gui> icon in the 
  toolbar of the note you wish to delete.</p>
  
<note style="warning">
	<p>Deleting a note is permanent.  After deletion, the note is 
	not recoverable.</p> <p> You will be prompted <gui>Really delete 
	this note?</gui> when deleting a note.</p>  
</note>
	
</page>
