<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:e="http://projectmallard.org/experimental/" type="topic" style="task" id="delete-notes" xml:lang="fr">

  <info>
    <link type="guide" xref="index#notes"/>
    <link type="seealso" xref="create-notes"/>
    <link type="seealso" xref="edit-notes"/>
    <desc>Suppression de notes dans Tomboy.</desc>
    <revision pkgversion="3.0" version="0.1" date="2010-05-29" status="candidate"/>

        <credit type="author">
      <name>Paul Cutler</name>
      <email>pcutler@gnome.org</email>
    </credit>    
    <credit type="author copyright">
      <name>Le projet de documentation GNOME</name>
      <years>2010</years>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Suppression d'une note</title>    
  
  <p>Pour supprimer une note cliquez sur l'icône <gui>Supprimer</gui> de la barre d'outils de la note que vous voulez supprimer.</p>
  
<note style="warning">
	<p>La suppression d'une note est permanente. Après sa suppression, la note n'est plus récupérable.</p> <p>Lorsque vous supprimez une note, il vous sera demandé <gui>Voulez-vous vraiment supprimer cette note ?</gui></p>  
</note>
	
</page>
