<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="introduction" xml:lang="fr">

  <info>
    <link type="guide" xref="index"/>
    <revision pkgversion="3.0" version="0.1" date="2010-05-29" status="candidate"/>
    <desc>Introduction à <app>Notes Tomboy</app>.</desc>
    <credit type="author">
      <name>Paul Cutler</name>
      <email>pcutler@gnome.org</email>
    </credit>
<!--
    <copyright>
      <year>2010</year>
      <name>GNOME Documentation Project</name>
    </copyright>
-->
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Introduction</title>

  <p><app>Tomboy</app> est une application de prise de notes pour le bureau GNOME, Microsoft Windows et Mac OS X. <app>Tomboy</app> est simple d'utilisation et permet d'organiser les idées et les informations de tous les jours.</p>
  <p><app>Tomboy</app> inclut des fonctionnalités qui vous aident à organiser et à vous souvenir de vos informations et permettent de relier vos notes entre elles pour vous aider à les retrouver et les trier. Vous pouvez aussi organiser plusieurs notes dans un bloc-notes afin de regrouper vos notes plus facilement.</p>
  <p>Vous pouvez aussi synchroniser vos notes entre différents ordinateurs ce qui vous permet d'emporter vos notes avec vous où que vous soyez.</p>

  <figure>
    <title>Fenêtre des <gui>Notes Tomboy</gui></title>
    <desc>Fenêtre principale des <app>Notes Tomboy</app></desc>
    <media type="image" src="figures/tomboy.png" mime="image/png" style="right">
      <p>Note par défaut de <app>Tomboy</app>.</p>
    </media>
  </figure>

</page>
