<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:e="http://projectmallard.org/experimental/" type="topic" style="task" id="new" xml:lang="fr">

  <info>
    <link type="guide" xref="index#new"/>
    <revision pkgversion="2.30" version="0.1" date="2010-05-29" status="draft"/>
    <desc>Nouveautés de <app>Notes Tomboy</app>.</desc>
    <credit type="author">
      <name>Paul Cutler</name>
      <email>pcutler@gnome.org</email>
    </credit>
<!--
    <copyright>
      <year>2010</year>
      <name>GNOME Documentation Project</name>
    </copyright>
-->
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Nouveautés de <app>Tomboy</app></title>

  <p><app>Tomboy</app> présente un certain nombre d'améliorations. Tomboy se lance de façon notablement plus rapide grâce aux améliorations apportées à son processus de démarrage.</p>
  <p>Le copier/coller depuis Tomboy vers d'autres applications est amélioré et prend en charge le formatage dans les autres applications qui gèrent le HTML, telles qu'Evolution, OpenOffice.org entre autres.</p>
  <p><app>Tomboy</app> peut maintenant synchroniser automatiquement vos notes si vous activez la synchronisation.</p>

  <p>L'ajout de la fonctionnalité « jump list » de Windows 7 vous permet d'accéder à vos notes, de rechercher ou de créer de nouvelles notes plus rapidement directement depuis la barre des tâches de Windows.</p>

</page>
