<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="sync-addins-sync" xml:lang="el">

  <info>
    <link type="guide" xref="addins#manage"/>
    <desc>Ενεργοποίηση επιπρόσθετων τρόπων για το συγχρονισμό των σημειώσεών σας με άλλες συσκευές.</desc>
    <revision pkgversion="3.0" version="0.1" date="2010-05-29" status="candidate"/>
    <credit type="author">
      <name>Paul Cutler</name>
      <email>pcutler@gnome.org</email>
    </credit>    
<!--
    <copyright>
      <year>2010</year>
      <name>GNOME Documentation Project</name>
    </copyright>
-->
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

 <title>Πρόσθετες λειτουργίες συγχρονισμού</title>

	<p>Οι πρόσθετες λειτουργίες συγχρονισμού σας επιτρέπουν να επιλέξετε διάφορες μεθόδους και τοποθεσίες για το συγχρονισμό των σημειώσεών σας στο Tomboy. Για περισσότερες πληροφορίες όσον αφορά τη ρύθμιση του συγγχρονισμού, επισκεφτείτε τη σελίδα βοήθειας <link xref="sync-notes"/>.</p>


<section id="local">
  <title>Υπηρεσία συγχρονισμού τοπικού καταλόγου</title>
  <p>Η υπηρεσία συγχρονισμού τοπικού καταλόγου είναι εξ ορισμού ενεργοποιημένη και επιτρέπει στο Tomboy να συγχρονίζει τις σημειώσεις του σε κάποιον άλλο κατάλογο στον υπολογιστή σας. Αυτό είναι πολύ χρήσιμο για να δημιουργήσετε ένα αντίγραφο ασφαλείας για τις σημειώσεις σας.</p>
</section>

<section id="ssh">
  <title>Υπηρεσία συγχρονισμού SSH</title>
  <p>Η υπηρεσία συγχρονισμού SSH σας επιτρέπει να συγχρονίσετε τις σημειώσεις σας με άλλον υπολογισστή μέσω του πρωτοκόλλου SSH. Η πρόσθετη αυτή λειτουργία είναι εξ ορισμού απενεργοποιημένη. Ενδεχομένως να πρέπει να εγκαταστήσετε το πακέτο <em>sshfs</em> για τη διανομή Linux σας για να μπορεί να δουλέψει αυτή η πρόσθετη λειτουργία, κάτι το οποίο δεν συμπεριλαμβάνεται στους σκοπούς αυτού του εγγράφου βοήθειας.</p>
</section>

<section id="webdav">
  <title>Υπηρεσία συγχρονισμού Webdav</title>
  <p>Η πρόσθετη λειτουργία συγχρονισμού Webdav είναι εξ ορισμού ενεργοποιημένη και σας επιτρέπει να συγχρονίσετε τις σημειώσεις σας με ένα απομακρυσμένο διακομιστή Webdav. Ενεδεχομένως να πρέπει να έχετε εγκατεστημένο το πακέτο <em>σύστημα αρχείων wdfs FUSE</em> για τη διανομή LLinux σας για να δουλέχει αυτή η πρόσθετη λειτουργία, κάτι το οποίο δε συμπεριλαμβάνεται στους σκοπούς αυτού του εγγράφου βοήθειας.</p>
</section>

<section id="webservice">
  <title>Υπηρεσία συγχρονισμού με το διαδίκτυο</title>
  <p>Η υπηρεσία συγχρονισμού με το διαδίκτυο σας επιτρέπει να συγχρονίσετε τις σημειώσεις σας σε ένα απομακρυσμένο διακομιστή ή υπηρεσία του διαδικτύου, όπως το διαδικτυακό Tomboy. Κατά την πληκτρολόγηση, η διαδικτυακή υπηρεσία Tomboy δεν έχει εκτελεστεί.</p>
</section>

 </page>
