<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="addins-formatting" xml:lang="pl">

  <info>
    <link type="guide" xref="addins#manage"/>
    <desc>Wtyczki dodatkowego formatowania notatek.</desc>
    <revision pkgversion="3.0" version="0.1" date="2010-05-29" status="candidate"/>
    <credit type="author">
      <name>Paul Cutler</name>
      <email>pcutler@gnome.org</email>
    </credit>    
<!--
    <copyright>
      <year>2010</year>
      <name>GNOME Documentation Project</name>
    </copyright>
-->
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

 <title>Dodatki formatowania</title>

<section id="fixedwidth">
  <title>Stała szerokość</title>
  <p>Dodatek stałej szerokości zmienia szerokość tekstu w notatce na stałą. Dodatek jest domyślnie wyłączony. Aby włączyć dodatek, należy nacisnąć przycisk <gui>Włącz</gui>.</p>
</section>

<section id="underline">
  <title>Dodatek opcji podkreślenia</title>
  <p>Dodatek opcji podkreślenia umożliwia użytkownikowi podkreślenie wybranych części notatki przy użyciu ikony <gui>Tekst</gui> na pasku narzędziowym notatki. Dodatek jest domyślnie wyłączony. Aby włączyć dodatek, należy nacisnąć przycisk <gui>Włącz</gui>. Wyróżnij tekst, który ma zostać podkreślony, a następnie kliknij ikonę <gui>Tekst</gui> na pasku narzędziowym notatki oraz wybierz polecenie <gui>Podkreśl</gui> lub naciśnij klawisze <keyseq><key>Ctrl + U</key></keyseq>.</p>
</section>

 </page>
