<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="addins-desktop" xml:lang="eu">

  <info>
    <link type="guide" xref="addins#manage"/>
    <desc>Plugins to integrate with other applications and websites.</desc>
    <revision pkgversion="3.0" version="0.1" date="2010-05-29" status="candidate"/>
    <credit type="author">
      <name>Paul Cutler</name>
      <email>pcutler@gnome.org</email>
    </credit>    
<!--
    <copyright>
      <year>2010</year>
      <name>GNOME Documentation Project</name>
    </copyright>
-->
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

 <title>Desktop Integration Addins</title>

	<p>Desktop Integration addins interact with other applications
	or websites and Tomboy.</p>

<section id="bugzilla">
  <title>Bugzilla Links</title>
  <p>The Bugzilla Links addin allows you to drag a Bugzilla URL from your
	browser into Tomboy.  After dragging a link into a Tomboy note, Tomboy
	will display the bug number as an active link next to bug icon to show
	you this is a Bugzilla link.  Clicking the link in the Tomboy note
	will open a browser window taking you to that Bugzilla page.</p>
</section>

<section id="evolution">
  <title>Evolution Mail Integration</title>
  <p>The Evolution Mail Integration plugin allows you to drag an email from Evolution
	into a Tomboy note.  Your note will display an envelope icon and the 
	subject of the note will be displayed as a link.  Clicking this link
	will open the email using Evolution.  </p>
</section>

<section id="printing">
  <title>Printing Support</title>
  <p>This addin is enabled by default and allows you print notes out.
	If you disable this addin you will no longer be able to print notes.</p>
</section>


 </page>
