<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:e="http://projectmallard.org/experimental/" type="topic" style="task" id="new" xml:lang="eu">

  <info>
    <link type="guide" xref="index#new"/>
    <revision pkgversion="2.30" version="0.1" date="2010-05-29" status="draft"/>
    <desc>
      What's new in <app>Tomboy Notes</app>.
    </desc>
    <credit type="author">
      <name>Paul Cutler</name>
      <email>pcutler@gnome.org</email>
    </credit>
<!--
    <copyright>
      <year>2010</year>
      <name>GNOME Documentation Project</name>
    </copyright>
-->
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>What's New in <app>Tomboy</app></title>

  <p>
    <app>Tomboy</app> features a number of new improvements.  Tomboy should start noticeably
	faster thanks to improvements made in Tomboy's start-up time.
  </p>
  <p>
	Copying and pasting from Tomboy to other applications has been improved to support
	 formatting into other applications that can understand HTML, such as Evolution, OpenOffice.org
	and other applications.
  </p>
  <p>
    <app>Tomboy</app> can now synchronize your notes automatically for you when you
	when you have sync enabled.
  </p>

  <p>Support for Microsoft Windows 7 jump lists have been added helping you access your notes,
	search or create a new note faster directly from the Windows taskbar.
  </p>

</page>
